{% extends "website/_layouts/base.html" %}
{% load mytags %}
{% block title %}Lista de Equipes{% endblock %}
{% block conteudo %}
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Lista de Equipes</h5>
                    
                    {% if equipes|length > 0 %}
                    <p class="card-text">
                        Aqui está a lista de <code>Equipes</code>
                        cadastradas.
                    </p>

                   <form method="GET" action="?">
                        <input type="text" name="nome" placeholder="Pesquisar por nome" value="{{ request.GET.nome }}">
                        <button type="submit">Pesquisar</button>
                        {% if request.GET.search %}
                            <a href="{% url 'website:lista_equipes' %}" class="btn btn-secondary">Limpar pesquisa</a>
                        {% endif %}
                    </form>
                    
                    <table class="table">
                        <thead class="thead-light">
                            <tr>
                                <th> </th>
                                <th scope="col">Nome</th>
                                <th scope="col">Integrantes</th>
                                <th scope="col">Descrição</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% if request.GET.search %}
                            {% for equipe in equipes %}
                                {% if request.GET.search in equipe.nome %}
                                <tr>
                                    <td>{{ equipe.id }}</td>
                                    <td><a href="{% url 'website:detail_equipe' equipe.pk %}">{{ equipe.nome }}</a></td>
                                    <td>{% for integrante in equipe.integrantes.all %} 
                                        {{ integrante }}
                                        {% endfor %}</td>
                                    <td>{{ equipe.descricao }} </td>
                                        <td>
                                        <a href="{% url 'website:update_equipe' equipe.pk %}" class="btn btn-info">
                                            Atualizar
                                        </a>
                                        <a href="{% url 'website:delete_equipe' equipe.pk %}" class="btn btn-outline-danger">
                                            Deletar
                                        </a>
                                    </td>
                                </tr>
                                {% endif %}
                            {% endfor %}
                        {% else %}
                        {% for equipe in equipes %}
                            <tr>
                                <td>{{ equipe.id }}</td>
                                <td><a href="{% url 'website:detail_equipe' equipe.pk %}">{{ equipe.nome }}</a></td>
                                <td>{% for integrante in equipe.integrantes.all %} 
                                    <p>{{ integrante }}</p>
                                    {% endfor %}</td>
                                <td>{{ equipe.descricao }} </td>
                                    <td>
                                    <a href="{% url 'website:update_equipe' equipe.pk %}" class="btn btn-info">
                                        Atualizar
                                    </a>
                                    <a href="{% url 'website:delete_equipe' equipe.pk %}" class="btn btn-outline-danger">
                                        Deletar
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        {% endif %}
                        </tbody>
                    </table>
                    {% else %}
                    <form method="GET" action="?">
                        <input type="text" name="nome" placeholder="Pesquisar por nome" value="{{ request.GET.nome }}">
                        <button type="submit">Pesquisar</button>
                        <a href="{% url 'website:lista_equipes' %}" class="btn btn-secondary">Limpar pesquisa</a>
                    </form>
                    <div class="text-center mt-5 mb-5 jumbotron">
                        <h5>Nenhuma <code>equipe</code> cadastrada ainda.</h5>
                    </div>
                    {% endif %}
                    <hr />
                    <div class="text-right">
                      <a type="button" class="btn btn-primary" 
                        href="{% url 'website:create_equipe'%}">
                        Adicionar
                      </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
