{% extends "website/_layouts/base.html" %}

{% block title %}Deletar Equipe{% endblock %}

{% block conteudo %}
  <div class="container mt-5">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Exclusão de Equipe</h5>
            <p class="card=text">
                Você tem certeza que quer excluir a equipe "<b>{{ equipe.nome }}</b>"?
            </p>
            <form method="post">
              {% csrf_token %}
              <hr />
              <div class="text-right">
                <a href="{% url 'website:lista_equipes' %}" class="btn btn-outline-danger">
                    Cancelar
                </a>
              <button class="btn btn-danger">Excluir</button>
              </div>
            </form>
        </div>
    </div>
  </div>
{% endblock %}