{% block title %}Detalhes de <b>{{ funcionario.nome }} {{ funcionario.sobrenome }}</b>{% endblock %}
{% block conteudo %}
<p></p>
<a type="button" class="btn btn-primary" href="{% url 'website:lista_funcionarios' %}"> Volta para Lista </a>
<p></p>
<table>
    <thead class="thead-light">
        <tr>
            <th scope="col">CPF</th>
            <th scope="col">Nome</th>
            <th scope="col">Sobrenome</th>
            <th scope="col">Remuneração</th>
            <th scope="col">Tempo de serviço</th>
            <th scope="col">Chefia</th>
        </tr>
    </thead>
    <tbody>
        <td>{{ funcionario.cpf }}</td>
        <td>{{ funcionario.nome }}</td>
        <td>{{ funcionario.sobrenome }}</td>
        <td>{{ funcionario.tempo_de_servico }}</td>
        <td>{{ funcionario.remuneracao }}</td>
        <td>{{ funcionario.chefia }}</td>
    </tbody>
</table>
</div>
{% endblock %}
