<!-- extensão do template base-->
{% extends "website/_layouts/base.html" %}

{% load widget_tweaks %}

<!-- bloco que define o <title><</title> da nossa página-->
{% block title %}Atualização de Equipe{% endblock %}

<!-- bloco de conteúdo da nossa página-->
{% block conteudo %}
<div class="container">
  {{equipes}}
    <div class="row"> 
        <div 
        class="clog-lg-12 col-md-12 col-sm-12 col-xs-12"> 
          <div class="card">
              <div class="card-body">
                  <h5 class="card-title">Atualização de Dados da Equipe "<b>{{equipe.nome}}</b>"</h5> 
                  <form method="post">
                    {% csrf_token %}
                    <!-- Nome-->
                  <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text">Nome</span> 
                      </div> 
                      {% render_field form.nome class+="form-control" %}
                  </div>
                    <!-- Integrantes -->
                  <div class="input-group mb-3">
                      <div class="input-group-prepend">
                          <span class="input-group-text">Integrantes</span> 
                      </div> 
                      {% render_field form.integrantes %}
                  </div>
                    <!-- Descrição -->
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Descrição</span> 
                        </div> 
                        {% render_field form.descricao %}
                    </div>
                  <div class="row" >
                    <div class="col">
                      <button class="btn btn-primary">Atualizar</button>
                      <a class="btn btn-primary" href="{% url 'website:lista_equipes' %}"> Cancelar</a>
                    </div>
                  </div>
                  </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}