<!-- extensão do template base-->
{% extends "website/_layouts/base.html" %}
{% load mytags %}
{% load widget_tweaks %}

{% block title %}Detalhes da equipe <b>{{ equipe.nome }}</b>{% endblock %}
{% block conteudo %}

<p></p>
<div class="text-center"> 
    <a type="button" class="btn btn-primary" href="{% url 'website:lista_equipes' %}"> Voltar para Lista </a>
</div>
<p></p>
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="card-body">
                <h5 class="card-title">Detalhes da Equipe</h5>       
                <p class="card-text">
                    Você está visualizando a equipe "<b>{{ equipe.nome }}</b>".
                </p>
                <table class="table">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">Nome</th>
                            <th scope="col">Integrantes</th>
                            <th scope="col">Tarefas da Equipe</th>
                            <th scope="col">Descrição</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ equipe.nome }} </td>
                            <td>{% for integrante in equipe.integrantes.all %}
                                <a href="{% url 'website:detail_funcionario' integrante.pk %}"><p>{{ integrante }}</p></a>
                                {% if not forloop.last %}{% endif %}
                            {% endfor %}
                            </td>
                            <td>{% for tarefa in equipe.tarefa.all %}
                                <a href="{% url 'website:detail_tarefa' tarefa.pk %}"><p>{{ tarefa }}</p></a>
                                {% if not forloop.last %}{% endif %}
                            {% endfor %}
                            </td>
                            <td>{{ equipe.descricao }} </td>
                                <td>
                                <a href="{% url 'website:update_equipe' equipe.pk %}" class="btn btn-info">
                                    Atualizar
                                </a>
                                <a href="{% url 'website:delete_equipe' equipe.pk %}" class="btn btn-outline-danger">
                                    Deletar
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
